
.nav-menu {
    clear: both;
    overflow :auto;
    background-color: darkred;
    padding-left: 100px;
    padding-right: 100px;
}

.nav-logo {
    float: left;
    display: flex;
    padding: 10px 0;
}

.nav-logo img {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    padding-right: 10px;
}

.nav-logo h1 {
    display: inline-block;
    color: white;
}

.nav-items {
    list-style-type: none;
    float: right;
    padding-top: 25px;
}

ul li{
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: white;
}